doctype html
html
    include includes/head.pug
    case activePage
            when 'search'
                include assets/css/searchStyle.pug
            when 'accueil'
                include assets/css/accueilStyle.pug
            when 'signin'
                include assets/css/signinStyle.pug
            when 'signedin'
                include assets/css/signedinStyle.pug
            when 'signup'
                include assets/css/signupStyle.pug
            when 'addbien'
                include assets/css/addBienStyle.pug
            when 'bien'
                include assets/css/bienStyle.pug
            when 'contact'
                include assets/css/contactStyle.pug
            when 'mentions'
                include assets/css/mentionsStyle.pug
            default
                include assets/css/accueilStyle.pug
    include includes/header.pug
    
    main
        case activePage
            when 'search'
                include includes/search.pug
            when 'accueil'
                include includes/accueil.pug
            when 'signin'
                include includes/signin.pug
            when 'signup'
                include includes/signup.pug
            when 'signedin'
                include includes/signedin.pug
            when 'addbien'
                include includes/addbien.pug
            when 'bien'
                include includes/bien.pug
            when 'contact'
                include includes/contact.pug
            when 'mentions'
                include includes/mentions.pug
            default
                include includes/accueil.pug