#signupBigDiv{
    margin-left: 4vw;
    margin-top: 5vw;
    padding-top: 0.2vw;
    padding-bottom: 2vw;
    height: 15vh;
    width: 45vw;
    background-color: rgb(70, 70, 70);
}

#signupBigDiv h2{
    margin-left: 2vw;
}

#signupBigDiv input{
    margin-left: 2vw;
    width: 10vw;
}

#signupBigDiv input:first-child{
    margin-left: 4vw;
}

#signupBigDiv input:nth-child(3){
    width: 12vw;
}

#signupBigDiv input:last-child{
    margin-left: 4vw;
    margin-top: 2vh;
}