div#bienBigDiv
    a Titre du bien
    <br>
    img(src="/assets/img/background.jpg", alt="Photo de la propriété")
    div#bienDetails
        p Prix :
        p Surface habitable :
        p Surface totale :
        p Nombre de pièces : <br>
        p Description du bien : <br> 
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam odit recusandae, eius quibusdam voluptates deleniti exercitationem repellendus. Laboriosam veniam unde, nostrum vitae, excepturi tenetur voluptates autem aliquam debitis ex doloribus! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nesciunt voluptatum ipsum fuga voluptas autem delectus debitis natus, quia saepe animi corrupti tempore culpa harum earum unde eum porro facere!
