div#bienBigDiv
    a Titre du bien
    <br>
    img(src="/assets/img/background.jpg", alt="Photo de la propriété")
    div#bienDetails
        p Prix :
        p Surface habitable :
        p Surface totale :
        p Nombre de pièces : <br>
        p Description du bien : <br> 
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad pariatur sequi id dolores! Voluptas saepe in nisi commodi illum nobis eius, quaerat, necessitatibus blanditiis optio nesciunt praesentium tempore nostrum exercitationem.