body
    header  
        div(id='bigMenu')
            a(href="/accueil")
                img(src=logoImmoUrl,alt='Logo ImmoConceptPlus')
            ul(id='menuList')
                li
                    a(href="/accueil") Accueil
                li
                    a(href="/addbien") Ajout d'un bien
                li
                    a(href="/signin") Connexion
                li
                    a(href="/signup") Inscription
                li
                    a(href="/contact") Contact
                li
                    a(href="/mentions") Mentions Légales